
/* Selector for h1 elements ( By Tag Name ) */

h1 {
    color: brown;
    background: black;
    
}



/* Selector for h1 elements ( By ID Name ) */

#heading {
    color: red;
    background: yellow;
}



/* Selector for h1 elements ( By Class Name ) */

.heading {
    color: green;
    background: blue; 
    
} 




/*
-----------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
-------------------------------------------- Start of New Code --------------------------------------------
-----------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
*/

/*  Units Of Font-Size ->  px, em, rem, %, vw, vh  */

/* 
CSS Font Size Units -:

1. px (Pixels)
   - Fixed size.
   - Example: font-size: 20px;

2. % (Percentage)
   - Parent element ke font-size ka percentage.
   - Example: font-size: 120%;

3. em
   - Nearest Parent element ke font-size ke according.
   - Example: font-size: 2em;

4. rem
   - Root (html) element ke font-size ke according.
   - Example: font-size: 2rem;

5. vw (Viewport Width)
   - Screen ki width ke according size.
   - Example: font-size: 5vw;

6. vh (Viewport Height)
   - Screen ki height ke according size.
   - Example: font-size: 5vh;


Easy Trick:

px  → Fixed
%   → Percentage
em  → Parent
rem → Root
vw  → Viewport Width
vh  → Viewport Height
*/



/* Parent Size */
body{
    font-size: 200%;
}


/* Root Element ( root size x rem ) */
html{
    font-size: 40px;
}



/* Font Family -: Font Ka Type ( arial, sans-serif, cursive, monospace, fantasy ) */
/* Padding -: Space Between Content and Border */
/* Margin -: Space Between Border and Other Elements */

/* Universal Selector ( * ) -: Sabhi Elements ke liye Apply Hota Hai */



*{
    padding: 0px;
    margin: 0px;
}

div{
    background-color: black;
    padding: 10px;
    height: 100px;

}

.div{
    background-color: aqua;

}



h2 {
    color: rgb(137, 23, 46);
    font-size: 100px;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    
}
























